

 <div    class="card" style="width: 30%; margin-left: 35%; padding-left: 80px;">
  <form #registerForm="ngForm" (ngSubmit)="checkRegister(registerForm)">
    <div class="Rcontainer" >
      <h3 style="margin-left: 25%;">REGISTRATION</h3>

      <label for="fname"><b>FIRST NAME </b> &nbsp;</label> <br>
      <input type="text" #fnm="ngModel" placeholder="Enter First Name" name="fname" id="fname"  minlength="4" required [(ngModel)]=user.firstName > <br>

      <span *ngIf="fnm.invalid && (fnm.dirty||fnm.touched)"style='color: red; border-color: red;'>
        <span *ngIf="fnm.errors?.required"> First Name is required</span>
        <span *ngIf="fnm.errors.minlength">Name must contain atleast 4 character</span> </span><br>
    
  
  <label for="lname"><b>LAST NAME </b> &nbsp;</label><br>
  <input type="text" #lnm="ngModel"  placeholder="Enter Last Name" name="lname" id="lname" required  [(ngModel)]=user.lastName > <br>

  <span *ngIf="(lnm.dirty||lnm.touched)"style='color: red; border-color: red;'>
  <span *ngIf="lnm.errors?.required">Last Name is required</span></span><br>

 
  
  <label for ="dt">DATE OF BIRTH</label><br>
  <input type="text" placeholder="CHOOSE DATE OF BIRTH"  id="dt" name="dt"
  onfocus="(this.type='date')"onblur="(this.type='text')"  #dt="ngModel" required [(ngModel)]=user.dateOfBirth><br>
  <span *ngIf="(dt.dirty||dt.touched)" style='color:rgb(8, 55, 56);'>
    <span   *ngIf="dt.errors?.required">Travel date is required</span></span><br>
  
    
      <label for="email"><b>EMAIL</b> &nbsp;</label><br>
      <input type="text" #em="ngModel" placeholder="Enter Email" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" [(ngModel)]=user.email > <br>

      <span *ngIf="em.invalid && (em.dirty||em.touched)"style='color: red; border-color: red;'>
        <span *ngIf="em.errors?.required">Email is required</span>
        <span *ngIf="em.errors.pattern">invalid email type</span></span><br>
     
    
      <label for="pwd"><b>PASSWORD</b> &nbsp;</label><br>
      <input type="password" #pwd="ngModel" placeholder="Enter Password" id="pwd"   name="pwd" required  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" [(ngModel)]=user.password ><br>

      <span *ngIf="pwd.invalid && (pwd.dirty||pwd.touched)"style='color: red; border-color: red;'>
        <span *ngIf="pwd.errors?.required">Password is required</span>
        <span *ngIf="pwd.errors.pattern">invalid password type</span> </span><br>
    
  
    <label for="cpwd"><b>CONFIRM PASSWORD</b> &nbsp;</label><br>
    <input type="password" #cp="ngModel" placeholder="Confirm Password" id="cpwd" name="cpwd" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" [(ngModel)]=userCPassword > <br>

    <span *ngIf="cp.invalid && (cp.dirty||cp.touched)"style='color: red; border-color: red;'>
      <span *ngIf="cp.errors?.required">Confirm Password is required</span>
      <span *ngIf="cp.errors.pattern">Confirm Password is invalid</span><br>
  </span>

  
   
  <div id="resultDiv"  style="color:red;"></div>

    <label for="ph"><b>CONTACT NO</b> &nbsp;</label><br>
    <input type="text" #cn="ngModel" placeholder="Enter Contact Numer" name="ph" id="ph"  pattern="^[6-9]\d{9}$" required [(ngModel)]=user.contactNo> <br>

    <span *ngIf="cn.invalid && (cn.dirty||cn.touched)"style='color: red; border-color: red;'>
      <span *ngIf="cn.errors?.required">Mobile number is required</span>
      <span *ngIf="cn.errors.pattern">Mobile number is invalid</span></span><br>
   
  
      <div class="">
        <a style="text-decoration: none; color: white;"><button type="submit" class="signupbtn" id="myBtn">Sign-up</button></a>
        <a style="text-decoration: none; color: white;" [routerLink]="['/homeLink']"><button type="button" class="cancelbtn" >Cancel</button></a>
        
      </div>
     
    </div>
    <div style="height: 100px;">

    </div>
  </form>
  </div> 
  <br>
  <!-- The Modal -->
<div id="myModal1" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close">&times;</span> -->
    <p>Registration successful <br><br>
    Please check your mail for Login credentials<br><br>
    <!-- <b>Thankyou!!!</b></p> -->

    <br>
    <br>
    <a style="text-decoration: none; color: white;" [routerLink]="['/loginLink']"><button type="submit" value="Submit" class="cancelbtn" >Click here to Login</button></a>
  
    <br>
    <br>
    <br>
    <!-- <a style="text-decoration: none; color: white;" [routerLink]="['/homeLink']"><button type="submit" value="Submit" class="cancelbtn" >Click here to Login</button></a>
  </div> -->
</div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close">&times;</span> -->
    <p> Password is not matching <br><br>
   

    <br>
    <br>
 
    <br>
    <br>
    <br>
    <!-- <a style="text-decoration: none; color: white;" [routerLink]="['/homeLink']"><button type="submit" value="Submit" class="cancelbtn" >Click here to Login</button></a>
  </div> -->
</div>
</div>
  
  <div style="margin-top:100px ;"></div>
  





