<div style="background-image: url('./assets/bg.jpg');">
    <button type="button" (click)="updateProfile($event.target)" id="updateProfileBtn">Edit Profile</button>
    <div id="profileInfoDiv">
        User Name :<input type="text" name="userName" [disabled]="isProfileInfoUpdatable"><br>
        Email:<input type="text" name="userEmail" [disabled]="isProfileInfoUpdatable"><br>
        Contact no:<input type="text" name="userMobile" [disabled]="isProfileInfoUpdatable"><br>
        Address :<input type="text" name="userMobile" placeholder="Not available" [disabled]="isProfileInfoUpdatable"><br>
        Age : <input type="text" name="userAge" placeholder="Not available" [disabled]="isProfileInfoUpdatable"><br>
        Gender : <input type="text" name="userGender" placeholder="Not available" [disabled]="isProfileInfoUpdatable"><br>
        <button type="button" (click)="viewChangePasswordDiv()" [hidden]="!isChangePasswordHidden">Change  Password</button>
        <div id="changePasswordDiv" [hidden]="isChangePasswordHidden">
            <span>Enter Old Password:</span> <input type="password" name="oldPassword"><br>
            <span>Enter new Password :</span><input type="password" name="newPassword"><br>
            <span>Confirm new password : </span><input type="password" name="connewPassword"><br>
            <button type="button" (click)="updatePassword()">Update Password</button>
            <button type="button" (click)="cancelPasswordChange()">Cancel</button>
        </div>
    </div>
</div>



















