
<div id="main_1" class="card" style="margin-top: 35px; border-radius: 30px;">
  <div class="outer" style="padding-top: 22px ; padding-bottom: 35px;">
    <p style="text-align: center; font-family: 'IM Fell DW Pica SC', serif; font-size: 20px;" >BOOK YOUR BUS TODAY</p>

    <form #searchBusForm="ngForm" (ngSubmit)="checkBus(searchBusForm)">
      <!-- <div style="text-align: center;">


        <label for="nsleeper">
          <input type="radio" id="nsleeper" name="bus-type">
          <span class="checkmark"></span>NON-AC SLEEPER
        </label>
        <label for="asleeper">
          <input type="radio" id="asleeper" name="bus-type">
          <span class="checkmark"></span>AC SLEEPER
        </label><br>
      </div> -->
  


      <div class="row">
        <div class="col_s">
      <span *ngIf="(src.dirty||src.touched)" style='color:rgb(8, 58, 59); '>
        <span  style="margin-left: 10%;" *ngIf="src.errors?.required">Source is required</span></span><br>

      <!-- <label for="source" style="margin-left: 2%;">SOURCE</label> -->
      <input list="list-buses" type="text"  value="source" id="source" name="source"  [(ngModel)]="source" #src=ngModel
        placeholder="ENTER SOURCE CITY" required style="margin-left: 10%;" >
     

      <datalist id="list-buses">
        <option value="Pune">
        <option value="Mumbai">
        <option value="Delhi">
        <option value="Chennai">
        <option value="Aurangabad">
        <option value="Nashik">
        <option value="Nagpur">
        <option value="Akola">
        <option value="Akola">
        <option value="Akola">

      </datalist>
    </div>




    <div class="col_s">
      <span *ngIf="(des.dirty||des.touched)" style='color:rgb(8, 55, 56);'>
        <span  style="margin-left: 9%;" *ngIf="des.errors?.required">Destination is required</span></span><br>

      <input list="list-buses" type="text" value="destination" id="destination" name="destination"
        [(ngModel)]="destination" #des=ngModel placeholder="ENTER DESTINATION CITY" required style="margin-left: 5%;">
     


      <datalist id="list-buses">
        <option value="Pune">
        <option value="Mumbai">
        <option value="Delhi">
        <option value="Chennai">
        <option value="Aurangabad">
        <option value="Nashik">
        <option value="Nagpur">

        <option value="Udaipur">
        <option value="Bengaluru">
        <option value="Ooty">



      </datalist>
    </div>

     
     

    <div class="col_s">

       <span *ngIf="(dt.dirty||dt.touched)" style='color:rgb(8, 55, 56);'>
        <span  style="margin-left: 9%;" *ngIf="dt.errors?.required">Travel date is required</span></span><br> 


           <mat-form-field class="dt">

            <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="   CHOOSE A DATE" name="dateOfJourney" required #dt="ngModel" [(ngModel)]=dateOfJourney >
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field> 

      

    </div>
  </div>




     <button type="submit" style="margin-left: 38%;" > SEARCH BUSES</button>

    </form>
  </div>
</div>

<div style="background-color: white; margin-top: 60px; width: 100%;">
  <div style="border-radius: 35px;">
    <br>
    <h2 style="text-align: center; font-size: 25px; font-family: 'IM Fell DW Pica SC', 'serif';" >POPULAR DESTINATIONS </h2>

    <div id="main_1" class="slideshow-container">

      <div class="mySlides fade">

        <img src="../assets/jai.jpeg" id="img1" alt="JAIPUR" style="height: 450px;">

        <div class="text">JAIPUR
          <!-- <h3 style="font-family: 'IM Fell DW Pica SC', serif">JAIPUR</h3> -->
        </div>
      </div>

      <div class="mySlides fade">

        <img src="../assets/udaipur.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">UDAIPUR
          <!-- <h3 style="font-family: 'IM Fell DW Pica SC', serif">UDAIPUR</h3> -->
        </div>
      </div>

      <div class="mySlides fade">
        <img src="../assets/hyd.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">HYDERABAD
          <!-- <h3 style="font-family: 'IM Fell DW Pica SC', serif">HYDERABAD</h3> -->
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/goa.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">GOA
          <!-- <h3 style="font-family: 'IM Fell DW Pica SC', serif">GOA</h3> -->
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/mumbai.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">MUMBAI
          <!-- <h3 style="font-family: 'IM Fell DW Pica SC', serif">MUMBAI</h3> -->
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/mangalore.jpg" id="img1" style="height: 450px;">
        <div class="text">MANGALORE
          <!-- <h3 style="font-family: 'IM Fell DW Pica SC', serif">MANGALORE</h3> -->
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/tirupati.jpg" id="img1" style="height: 450px;">
        <div class="text">TIRUPATI
          <!-- <h3 style="font-family: 'IM Fell DW Pica SC', serif">TIRUPATI</h3> -->
        </div>
      </div>
    </div>
    <br>



    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>
 
  <h1 style="text-align:center; font-size: 30px;color: black;margin-top: 5%; font-family: 'IM Fell DW Pica SC', 'serif';"> Bus Operator Measures </h1>

<div style="background-color:rgb(237, 237, 245)">
 
 <div id="main_1">
 
  <br>
  <br>
  <div class="row">
  <div class="columns">
  <h2 style="color: black; font-family: 'IM Fell DW Pica SC', serif">Regular Temperature Checks</h2>
  <input type="image" src="../assets/sanitizer.jpg" style="height: 210px; width: 260px; font-family: 'IM Fell DW Pica SC', serif"/><br><br>
    <p>Our bus drivers and service personnel are subject to temperature checks before every trip.</p><br><br>
  </div>
    <div class="columns">
<h2 style="color: black; font-family: 'IM Fell DW Pica SC', serif">Sanitized Bus</h2>
<input type="image" src="../assets/sanitized_bus.jpg" style="height: 210px; width: 260px; font-family: 'IM Fell DW Pica SC', serif"/><br><br>
<p>All our buses are deep cleaned and disinfected before and after every trip.</p><br><br>
</div>
<div class="columns">
<h2 style="color: black; font-family: 'IM Fell DW Pica SC', serif">Hand Sanitizers Provided</h2>
<input type="image" src="../assets/temp_check.jpg" style="height: 210px; width: 260px; font-family: 'IM Fell DW Pica SC', serif"/><br><br>
<p>We are equipping all our buses with hand sanitizers to help you stay disinfected.</p>
</div>
</div>
</div>

</div>



<h1 style="text-align: center; font-size: 30px; margin-top:3%; font-family: 'IM Fell DW Pica SC', 'serif';">Passenger Guidelines</h1> <br>


<div style=" background-color:rgb(245, 237, 245);">
  <div id="main_1">
  <div class="row">
    <div class="columns">
  <h2 style="margin-top: 5%; font-family: 'IM Fell DW Pica SC', serif">Mandatory masks</h2><br>
  <input type="image" src="../assets/mask.jpg" style="height: 210px; width: 260px; font-family: 'IM Fell DW Pica SC', serif" /><br><br>
  <p>
Proper masks are mandatory for all passengers. Handkerchiefs /other cloth items are not permitted as masks..</p>
<br>
</div>
<div class="columns">
 
<h2 style="margin-top: 5%; font-family: 'IM Fell DW Pica SC', serif">Do not travel with Symptoms</h2><br>
<input type="image" src="../assets/fever.jpg" style="height: 210px; width: 260px; font-family: 'IM Fell DW Pica SC', serif" /><br><br>
<p>
Passengers are advised to refrain from travel if they show Covid-19 Symptoms. In such an event, the passenger risks de-boarding.</p>
<br>
</div>
<div class="columns">
<h2 style="margin-top: 5%; font-family: 'IM Fell DW Pica SC', serif">Follow Mandatory Travel Guidelines</h2><br>
<input type="image" src="../assets/travel.jpg" style="height: 210px; width: 260px; font-family: 'IM Fell DW Pica SC', serif" /><br><br>
<p>
It is mandatory to follow the travel guidelines of your source and destination state for travel.</p>
</div>
</div>
</div>
</div>

<div>
<div id="main_1" style="margin-top: 2%; margin-left: 17%; margin-right: 2%;">
 
  <h1 style="color: black; margin-left:35%; font-size:30px; font-family: 'IM Fell DW Pica SC', serif">Our Services</h1>
   <br>
  <div>
   
    <section class="feature-section img-fluid">
   
          <div class="container">
              <div class="row">
   
              </div>
              <div class="row">
                  <div class="col_s">
                      <div class="features-div">
                          <i style="font-size:10em;" class="fa fa-laptop" aria-hidden="true"></i>
                          <br>
                          <br>
                          <h2 class="features-heading" style="font-size: 25px;">User Friendly Interface</h2>
                          <br>
                      </div>
                  </div>
                  <div class="col_s">
                      <div class="features-div">
                          <i style="font-size:10em;"  class="fa fa-bullseye"></i>
                          <br>
                          <br>
                          <h2 class="features-heading" style="font-size: 25px;">Flexible Booking Engine</h2>
                          <br>
                      </div>
                  </div>
                  <div class="col_s">
                      <div class="features-div">
                          <i style="font-size:10em;"  class="fa fa-user-circle"></i>
                          <br>
                          <br>
                          <h2 class="features-heading" style="font-size: 25px;">Customized Booking Engine</h2>
                          <br>
                      </div>
                  </div>
                  <div class="col_s">
                      <div class="features-div">
                          <i style="font-size:10em;"  class="fa fa-inr"></i>
                          <br>
                          <br>
                          <h2 class="features-heading" style="font-size: 25px;">Reasonable Price</h2>
                          <br>
                      </div>
                  </div>
                  <div class="col_s">
                      <div class="features-div">
                          <i style="font-size:10em;"  class="fa fa-undo"></i>
                          <br>
                          <br>
                          <h2 class="features-heading" style="font-size: 25px;">Guaranted Work</h2>
                          <br>
                      </div>
                  </div>
                  <div class="col_s">
                      <div class="features-div">
                          <i style="font-size:10em;"  class="fa fa-envelope"></i>
                          <br>
                          <br>
                          <h2 class="features-heading" style="font-size: 25px;">24/7 Support</h2>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    </div>
  </div>
  </div>


  <section id="about-section"
    style=" background-color:rgba(203, 222, 228); margin-top: 5%;margin-bottom: 70px;padding-left: 75px;padding-right: 75px;">
    <!-- <div class="card" id="main_1"> -->
       <!-- <div class="container">   -->

      <div class="section-title">

        <h2 style="font-size: 30px; font-family: 'IM Fell DW Pica SC', serif;">ABOUT US</h2>
        <p style="font-family: 'IM Fell DW Pica SC', serif;font-size: 27px;"> Sight City Travles - India's fastest growing online bus service</p>
        <p style="font-size: 20px;">over the years, has strived to deliver easy booking solutions to its customers. Our continued efforts
        have resulted into EasyBus becoming one of the leading ticketing platforms in India for various Bus services. We
        have a strong presence with a ticket inventory from over 2500 bus partners and 100000 route options our app and
        website.

        Founded in the year 2008, EasyBus Services (India) Private Limited is a pioneer in providing end-to-end software
        and other value-added solutions such as e-ticketing systems, fleet management solutions, vehicle tracking
        systems, passenger information systems, logistics management backed by a 24x7 customer support center. The
        company also provides technology solutions to more than 300 large private bus partners in India, 5 state
        transport corporations and 2 international bus partners.


        Our ever-expanding services now also include Hotels and Rentals for buses. With an array of products lined, we
        aim to constantly introduce such affordable and first in industry customer centric solutions to the market.

        Today, EasyBus is also the preferred Information Technology Partner for State Transport Corporations and Private
        Bus Fleet Bus Partners. EasyBus is an ISO 9001:2008 certified company.</p>

      </div>
      <br>

      <h2 style="text-align:center;font-size: 30px; font-family: 'IM Fell DW Pica SC', serif;"> Meet Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="team-1">
            <div class="card">
              <div class="team-img">
                <img src="../assets/Munshaf.jpg" alt="Jane" style="width:100%;height: 200px;">
              </div>
              <div class="container">
                <h2 style="color: black;font-family: 'IM Fell DW Pica SC', serif">Munshaf Shaikh</h2>
                <p class="title">Developer</p>

                <p>munshaf@sct.com</p>
                <div class="team-social">
                  <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                  <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                  <a class="social-in" href=""><i class="fab fa-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team-1">
            <div class="card">
              <div class="team-img">
                <img src="../assets/DT.jpg" alt="Mike" style="width:100%;height: 200px;">
              </div>
              <div class="container">
                <h2 style="color: black;font-family: 'IM Fell DW Pica SC', serif;">Dhatchayini Thevar</h2>
                <p class="title">Developer</p>

                <p>dhatchayini@sct.com</p>
                <div class="team-social">
                  <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                  <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                  <a class="social-in" href=""><i class="fab fa-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team-1">
            <div class="card">
              <div class="team-img">
                <img src="../assets/ankit.jpg" alt="John" style="width:100%;height: 200px;">
              </div>
              <div class="container">
                <h2 style="color: black;font-family: 'IM Fell DW Pica SC', serif">Ankit Sharma</h2>
                <p class="title">Developer</p>

                <p>ankit@sct.com</p>

                <div class="team-social">
                  <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                  <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                  <a class="social-in" href=""><i class="fab fa-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="team-1">
            <div class="card">
              <div class="team-img">
                <img src="../assets/Photo_Aishwarya.jpg" alt="John" style="width:100%;height: 200px;">
              </div>
              <div class="container">
                <h2 style="color: black;font-family: 'IM Fell DW Pica SC', serif">Aishwarya Chordia</h2>
                <p class="title">Developer</p>

                <p>aishwarya@sct.com</p>
                <div class="team-social">
                  <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                  <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                  <a class="social-in" href=""><i class="fab fa-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="team-1">
            <div class="card">
              <div class="team-img">
                <img src="../assets/Pratiksha.jpg" alt="John" style="width:100%;height: 200px;">
              </div>
              <div class="container">
                <h2 style="color: black;font-family: 'IM Fell DW Pica SC', serif">Pratiksha Acharya</h2>
                <p class="title">Developer</p>

                <p>pratiksha@sct.com</p>
                <div class="team-social">
                  <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                  <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                  <a class="social-in" href=""><i class="fab fa-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->

    </div>
  </section>
  <div style="height: 150px;">

  </div>
</div>