/* body{
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  background-repeat: no-repeat;
  /* background-image: url("../../assets/bus_a.jpg"); */
  /* background-size: 100% 20%;
  background-color: bisque; 
} */
 /* #bkimg{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/road.jpg");

}  */

/* .bodya{
  font-family: Arial;
 
  
  background-image: url("../../assets/buswater.jpeg");
  background-size: 100% 30%;
 
} */

#img1{
  width: 100%;
  height: 100%;
  margin-top:10px; 
  border-radius: 30px;
}

#img {
  width: auto;
  max-width: 245px;
  height: auto;
} 

input[type=text], input[type=password],input[type=date]{
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-weight: bold;
}
label{
  margin-right: 1%;
}


.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  /* padding: 1px; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2px;
}



.containers {
  padding:  2px;
}

.containers::after, .row::after {
  content: "";
  clear: both;
  display: table;
}





@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.section-title {
  width: 100%;
  text-align: center;
  padding: 45px 0 30px 0;
} 
 
/* .section-title::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 5px;
  left: calc(55% - 35px);
  background: #353535;
}  */


.section-title h1 {
  color: #353535;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

@media(max-width: 500px) {
  .section-title h1 {
      font-size: 40px;
      letter-spacing: 3px;
  }
}

@media(max-width: 567.98px) {
  .section-title h1 {
      font-size: 30px;
      letter-spacing: 2px;
  }
}

.team-1 {
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-1 .team-img {
  overflow: hidden;
}
.team-1 .team-img img {
  width: 80%;
  height: auto;
  transition: all .3s;
}

.team-1:hover .team-img img {
  transform: scale(1.2);
}
/* .team-1 .team-content {
  padding: 1px;
} */

.team-1 .team-content h2 {
  font-size: 25px;
  font-weight: 400;
 
}

.team-1 .team-content h3 {
  font-size: 16px;
 
}

.team-1 .team-content h4 {
  font-size: 16px;
 
  font-style: italic;
  letter-spacing: 1px;
  /* margin-bottom: 25px; */
}

.team-1 .team-content p {
  font-size: 16px;
  
}


.team-1 .team-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.team-1 .team-social a {
  display: inline-block;
  width: 30px;
  height: 25px;
  margin-right: 5px;
   padding: 5px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  transition: all .3s;
}

.team-1 .team-social a.social-tw {
  background: #00acee;
}

.team-1 .team-social a.social-fb {
  background: #3b5998;
}

.team-1 .team-social a.social-li {
  background: #0e76a8;
}

.team-1 .team-social a.social-in {
  background: #3f729b;
}

.team-1 .team-social a.social-yt {
  background: #c4302b;
}

/* .team-1 .team-social a:last-child {
  margin-right: 0;
} */

.team-1 .team-social a:hover {
  background: #222222;
}






.mySlides {display: none;}
img {vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  width: 100%;
  height: 300px;
  
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}

/* @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size 
@media only screen and (max-width: 700px) {
  .text {font-size: 11px}
} */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}