/* body{
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  background-repeat: no-repeat;
  /* background-image: url("../../assets/bus_a.jpg"); */
  /* background-size: 100% 20%;
  background-color: bisque; 
} */
 /* #bkimg{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/road.jpg");

}  */

/* .bodya{
  font-family: Arial;
 
  
  background-image: url("../../assets/buswater.jpeg");
  background-size: 100% 30%;
 
} */

