
<div style="background-color: aqua;">
    <h2>Available Balance : 50000</h2>
    <button type="button" (click)="rechargeWalletBtnClicked()" [hidden]="!isRechargeWalletHidden">Recharge Wallet</button>
    <div id="rechargeWalletDiv" [hidden]="isRechargeWalletHidden">
        CVV:<input type="password" name="cvv"><br>
        Card Number:<input type="number" name="cardNumber"><br>
        Expiration Date:<input type="date" name="expirationDate"><br>
        Card holder Name :<input type="text" name="cardHolderName"><br>
        Amount :<input type="number" name="amount"><br>
        <button type="button" (click)="rechargeWallet()"> Recharge</button><br>
    </div>
</div>