.ticket {
    border: 1px solid #ccc;
    /* box-shadow: 1px 0px 9px 2px #ccc;  */
    background-color:white;
    opacity: 0.9;
   
}
.ticket table {
    border: none
    
}
.ticket table thead {
    border: none;
    background: #FCFCE0;
    font-weight: bold
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
