 <div  class="card" style="width: 50%; margin-left: 25%;">
    <form #forgotForm="ngForm" (ngSubmit)="resetPassword(forgotForm)" >
      <div id="forgottt">
      </div>

        <h3 style="text-align: center;">FORGOT PASSWORD</h3>
       
        <label for="userId"><b>USER ID</b></label><br>
      <input type="text" placeholder="Enter UserId" id="userId" #id="ngModel" name="userId" [(ngModel)]="loginforgetdto.id"> <br>
         <div *ngIf="id.invalid && (id.dirty||id.touched)" style="color: darkred;">
          <span *ngIf="id.errors.required">UserId is required</span> 
          </div>

          
<label for="userId"><b>Email</b></label><br>
<input type="text" placeholder="Enter Email" id="email" #email="ngModel"  name="email" [(ngModel)]="loginforgetdto.email"> <br>
          <div *ngIf="email.invalid && (email.dirty||email.touched)"style='color: white; border-color: red;'>
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.pattern">invalid email type</div>
        </div>  

          <div id="emaillink"></div>
          <button type="submit" class="signupbtn">Send Link</button>
        </form>

    </div>
    <div style="margin-top:100px ;"></div> 


    <!-- <form>
      <h3 style="text-align: center;">Forgot Password</h3>
      <label for="userId"><b>USER ID</b></label><br>
      <input type="text" placeholder="Enter UserId" id="userId" name="userId"> <br>
      <label for="userId"><b>Email</b></label><br>
      <input type="text" placeholder="Enter Email" id="email" name="email"> <br>

    </form>  -->