<div  class="card" style="width: 50%; margin-left: 25%;">
    <form  form #loginForm="ngForm" >
      <div >
        <h3 style="text-align: center;">FORGOT PASSWORD</h3>
       
        <label for="email"><b>Email</b></label><br>
        <input type="text"#em placeholder="Enter Email" id="pwd" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$"> <br>
        <div *ngIf="em.invalid && (em.dirty||em.touched)"style='color: white; border-color: red;'>
          <div *ngIf="em.errors.required">Email is required</div>
          <div *ngIf="em.errors.pattern">invalid email type</div>
        </div>
        <label for="id">User Id</label>

        <div class="">
          <button type="submit" class="signupbtn">Send Link</button>
        </div>
       
      </div>
    </form>
    </div>
    <div style="margin-top:100px ;"></div>