 <div  class="card" style="width: 50%; margin-left: 25%;">
    <form #forgotForm="ngForm" (ngSubmit)="resetPassword(forgotForm)" >
      <div id="forgottt">
      </div>

        <h3 style="text-align: center; font-family: 'IM Fell DW Pica SC', serif; font-size: 18px; font-weight: bold;">FORGOT PASSWORD</h3>
       
        <label for="userId">User Id</label><br>
      <input type="text" placeholder="Enter UserId" id="userId" #id="ngModel" name="userId" required [(ngModel)]="loginforgetdto.id"> <br>
         <div *ngIf="id.invalid && (id.dirty||id.touched)" style="color:rgb(11, 89, 92); font-weight: bold;">
          <span *ngIf="id.errors.required">UserId is required</span> 
          </div>

          
<label for="userId">Email</label><br>
<input type="text" placeholder="Enter Email" id="email" #email="ngModel"  name="email" required [(ngModel)]="loginforgetdto.email"> <br>
          <div *ngIf="email.invalid && (email.dirty||email.touched)" style='color: rgb(11, 89, 92); font-weight: bold;'>
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.pattern">Invalid email type</div>
        </div>  

          <div id="emaillink"></div>
          <button type="submit" class="signupbtn">Send Link</button>
        </form>

    </div>
    <div style="margin-top:200px ;"></div> 


    <!-- <form>
      <h3 style="text-align: center;">Forgot Password</h3>
      <label for="userId"><b>USER ID</b></label><br>
      <input type="text" placeholder="Enter UserId" id="userId" name="userId"> <br>
      <label for="userId"><b>Email</b></label><br>
      <input type="text" placeholder="Enter Email" id="email" name="email"> <br>

    </form>  -->